.StorySection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

    .containerStory {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;

        .containerStoryCard {
            img {
                width: 100%;
            }
        }
    }
}