button {
    padding: 12px;
    border: none;
    background-color: brown;
    color: white;
    border-radius: 10px;
}

.Products {
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    .ProductsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        gap: 30px;

        .ProductsContainerTop {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            gap: 20px;
            text-align: center;
            flex-direction: column;
        }
    }

    .ProductsContainerBottom {
        display: flex;
        gap: 20px;
    }

    .ProductsCard {
        border: 1px solid rgb(255, 255, 255);

        &:hover {img{
             border-radius: 10px;
        }
            border-radius: 10px;
            background: #ffffff;
            box-shadow: 24px 24px 21px #757575,
                -24px -24px 21rgb(211, 210, 210)fffff;
            border: 1px solid rgb(107, 106, 106);
        }

        img {
            width: 100%;
            border-radius: 10px;

        }
    }

    .ProductsCardDesk {
        display: flex;
        align-items: center;
    }
}